ProjectOperater/ProjectOperater/Service References/OperaterServis/OperaterServis1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProjectLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProjectLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ListaDeo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deo" nillable="true" type="tns:Deo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListaDeo" nillable="true" type="tns:ListaDeo" />
  <xs:complexType name="Deo">
    <xs:sequence>
      <xs:element minOccurs="0" name="cena_dela" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nazivDela" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deo" nillable="true" type="tns:Deo" />
</xs:schema>