ProjectOperater/ProjectOperater/Service References/OperaterServis/OperaterServis3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/MeteoServis/OperaterServis?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectLibrary" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proveriLogin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="proveriLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proveriLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumaTroskovaNaAutuZaKorisnika">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SumaTroskovaNaAutuZaKorisnikaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumaTroskovaNaAutuZaKorisnikaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusPopravkiNaAutu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusPopravkiNaAutuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectLibrary" minOccurs="0" name="StatusPopravkiNaAutuResult" nillable="true" type="q1:ArrayOfstatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PovuciDelove">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PovuciDeloveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjectLibrary" minOccurs="0" name="PovuciDeloveResult" nillable="true" type="q2:ListaDeo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>